@import 'https://use.fontawesome.com/releases/v5.10.2/css/all.css';

body {
    transform: translate(30%, 30%);
}

div {
    border: 1px solid grey;
    height: 20x;
    width: 100px;
    background-color: white;

    position: relative;
    top: 10px;
}

form, fieldset {
    box-sizing: border-box;
    background-color: whitesmoke;
    border: 1px solid grey;
    font-weight: bold;

    height: 150px;
    width: 350px;
    margin: 0;
    padding: 0;
}

form .btn {
    background-color: darkgray;
    margin-top: 25px;
    color: white;
}

input:focus {
    color: grey;
}